header{
    height:5vh;
    min-height: 30px;
    padding-left: 2vw;
    
}
header img:first-child{
    vertical-align: middle;
    height: calc(90%);
    width: calc(0.9*5vh);
    min-width: 27px;
    float:left;
}
header h1:first-child{
    padding-left: 3vw;
}
#bl,header .btns_layout{
    float:right;
    overflow: hidden;
}
header .btns_layout button{
    background-color: #1565C0;
    color:white;
}
nav{
    background-color: #FF5E00;
    height: 50px;
}

nav > ul.menu{
    background-color: #FF5E00;
    display: block;
    height:100%;
    list-style: none;
    padding:0;
    
}
nav ul.menu > li{
    float:left;
    height: 100%;
    text-align: center;
}
nav ul.menu > li:hover,nav > a:hover{
    background-color: orange;
    -webkit-transition: all 0.4s ease;
}
nav>a>div{
    vertical-align: middle;
    text-align: center;
    margin: auto;
}
nav ul.menu li > a,nav > a{
    color:white;
    
    text-align:center;
    text-decoration: none;
    vertical-align: middle;
    height:100%;
    display: inline-block;
    margin: auto;
    padding:0px;
}
nav  li > a:hover,nav > a:hover{
    text-decoration: none;
}

.btn-oauth-github{
    background-repeat: no-repeat;
    background-image: url("../images/github.svg");
    background-position: left;
    background-color: black;
    border-radius: 0.5em;
    background-size:2em;
    line-height: 1em;
    text-decoration: none;
    border: none;
    padding:0 2em 0 4em;
    cursor: pointer;
    background-position: 0.5em;
    transition: all 0.5s;
    height: 2em;
    display:block;
    color:white;
    margin:1em;
}
a.btn-oauth-github{
    padding: 1em 2em 0 4em !important;
}
.btn-oauth-github:hover{
    background-color:#424242;
}
.btn-oauth-github:active{
    background-color:#202020;
}
a.btn-oauth-github:visited{
    color:white;
}

#slides {
    display:none;
    width:100%;

    }
    #slides img{
        min-height:99%;
        vertical-align: middle;
    }
    #slides .slidesjs-container {
    margin-bottom:10px;
    }
    
    #slides .slidesjs-previous {
    margin-right: 5px;
    float:left;
    }
    #slides .slidesjs-next {
    margin-right: 5px;
    float:left;
    }
    .slidesjs-pagination {
        margin:6px 0 0;
        float: right;
        list-style: none;
        }
        
        .slidesjs-pagination li {
        float: left;
        margin: 0 1px;
        }
        
        .slidesjs-pagination li a {
        display: block;
        width: 13px;
        height: 0;
        padding-top: 13px;
        background-image: url(http://slidesjs.com/img/pagination.png);
        background-position: 0 0;
        float: left;
        overflow: hidden;
        }
        
        .slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active { background-position: 0 -13px }
        
        .slidesjs-pagination li a:hover { background-position: 0 -26px }
        
        #slides a:link, #slides a:visited { color: #333 }
        
        #slides a:hover, #slides a:active { color: #9e2020 }